@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font  */
@font-face {
  font-family: 'spidy';
  src: url(../far_from_homecoming/Updated.otf);
}
:root{
    --red: #B11313;
    --yellow: #f1c530;
    --blue: #114c92;
    --black: #000000;
    --white: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    
}
body{
  overflow-x: hidden;
  height: 100vh;
  color: var(--white);
}
header{
  background: url(/Assets/Illustration/img7.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    background: var(--yellow) ;
    /* text-align: center; */
    /* background: red; */
    /* justify-content: space-between; */
    /* position; */
}

nav .logo{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}
nav .logo img{
  top: 0;
    margin-left: 30px;
}
.logo2{
  width: 20px;
    height: 20px;
}
.logo3{
  width: 17vw;
  height: 50px;
}


nav a{
text-decoration: none;
padding-inline: 40px;
    color: #fff;
}
.vilain{
    background-size: cover;
    height: 500px;
    padding: 5px;
    background-repeat: no-repeat;
}
.Super {
  font-family: 'spidy';
  font-size: 60px;
}
.button{
  background: #F1C530;
  border: none;
  color: #FFFFFF;
}
.button:hover{
  font-size: 17px;
}
h2{
    font-family: 'spidy'; 
}
header {
  width: 100%;
    height: auto;
    min-height: 500px;
    background-repeat: no-repeat;
    background: url(/Assets/Illustration/img7.png);
    background-position: left;
    background-size: cover;
  }
  header .titre {
    margin-top: 150px;
    text-align: center;
  }
  .titre h1 {
    font-family: 'spidy';
    font-size: 80px;
  }
  .titre p {
    font-size: large;
  }
  
  /* SECTION jaune  */
  section.section-yellow {
    background: var(--yellow);
    padding: 20px 15px;
  }
  section .ligne {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
  }
  .ligne .text-image {
    overflow: hidden;
    width: 200px;
  margin: 10px 90px;
  }
  .ligne .image {
    position: relative;
    top: 5px;
  }
  .ligne .text {
    width: 100%;
    inline-size: 160px;
    word-spacing: 3px;
    text-align: start;
    padding: 25px 25px 25px 5px;
    border: 5px solid var(--black);
    border-radius: 0px 0px 50px 50px;
    border-top: none;
    color: var(--black);
    line-height: 20px;
    font-size: 14px;
    /* border-style: dashed inset groove double; */
  }
  .text span {
    font-weight: 600;
  }
  
  /* FOOTER  */
 
  footer {
  background: #000000;
  min-height: 300px;
  min-width: 500px;
  height: auto;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 30px;
}
footer .liste {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
}
footer .item {
  order: 1;
}
footer .none {
  display: none;
}
footer #langue {
  order: 2;
}
footer .container a {
  margin-left: 15px;
  text-decoration: none;
  color: #FFFFFF;
}
footer .item a {
  margin-left: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
select {
  background: #F1C530;
  color: #FFFFFF;
  padding: 5px 20px 5px 4px;
  outline: none;
  width: 150px;
  border: none;
  border-radius: 50px;
}
footer .footer-icone {
  display: flex;
  margin-top: 150px;
  margin: 100px 0px 15px 0px;
  justify-content: center;
}
footer .footer-icone img {
  background: #F1C530;
  margin-left: 15px;
  border-radius: 50px;
  padding: 10px;
}
footer p{
  color: #FFFFFF;
}
  /* MEDIA  */
  
  @media (max-width: 850px) {
    footer .li{
      flex-wrap: nowrap;
      align-items: flex-start;
    }
    footer .container a {
      display: flex;
      flex-direction: column;
      text-align: start;
    }
    footer .footer-nav-block {
      display: none;
      float: left;
    }
    footer .none {
      display: flex;
      flex-direction: column;
    }
    footer .footer-nav-block a {
      display: flex;
      flex-direction: column;
      text-align: start;
      order: 1;
    }
    footer .logo {
      order: 2;
      margin-top: 150px;
    }
  }
  @media (max-width: 768px) {
    nav,
    header,
    section,
    footer {
      font-size: 1.2em;
    }
    nav .li {
      display: none;
    }
    nav {
      background: none;
      justify-content: space-between;
    }
  }
  @media (max-width: 550px) {
    nav,
    header,
    main,
    section.section-yellow,
    footer {
      min-width: 600px;
      text-align: center;
    }
    header {
      min-height: none;
      background-position: center;
    }
    header .titre h1 {
      font-size: 50px;
    }
    header .titre {
      text-align: start;
      padding-left: 30px;
    }
    footer .footer-none{
      display: none;
    }
    footer .li {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    footer #langue {
      margin: -35% 5% auto 50%;
      order: 1;
    }
    footer .footer-logo {
      padding-top: 50px;
      /* display: none; */
      margin: 10% auto 10% 18%; 
    }
    footer .footer-icone {
      margin-top: 45px;
      margin-left: -20%;
    }

    footer p{
      margin-left: -20% ;
    }
  }
  
@media screen and (max-width: 1200px){
    nav a{
        display: none;
    }
    .logo3{
        width: 26vw;
        height: 50px;
    }
    header{
        background-size: cover;
        background-attachment: fixed;
        background-position: 100%;
    }
    header h2{
        font-size: 1em;
        margin-top: 46%;
    }
   
}
@media screen and (max-width: 1300px){
    nav a{
        display: none;
    }
    .logo3{
        width: 20vw;
        height: 50px;
    }
    
    }
}
