.home{
	padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  color: #FFFFFF;
  padding: 10px 25px;
  border-radius: 10px;
}
.home button {
  padding: 12px 25px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
}
.home3{
  background: #114c9292;
}
.home1{
 background: #B11313;
}
.home2{
	background: #f1c530;
}